<section class="hero" [@fadeIn] style="background-image: url('/src/assets/computer.jpg');">
    <div class="hero-content">
      <h1>Welcome to Suntechie</h1>
      <p>Exploring the latest in technology and innovation</p>
      <!-- <a href="#" class="cta-button">Get Started</a> -->
    </div>
  </section>

  <section class="featured-posts">
    <h2>Featured Posts</h2>
    <div class="card-container">
      <mat-card class="post">
        <img mat-card-image src="/src/assets/computer.jpg" alt="Post 1">
        <mat-card-content>
          <h2 mat-card-title>Article Title</h2>
          <p mat-card-subtitle>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          <p mat-card-content>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ultricies felis vel ultrices varius.</p>
          <a href="#" mat-button>Read More</a>
        </mat-card-content>
      </mat-card>
      <mat-card class="post">
        <img mat-card-image src="post2.jpg" alt="Post 2">
        <mat-card-content>
          <h2 mat-card-title>Article Title</h2>
          <p mat-card-subtitle>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          <p mat-card-content>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ultricies felis vel ultrices varius.</p>
          <a href="#" mat-button>Read More</a>
        </mat-card-content>
      </mat-card>
      <!-- Add more card elements as needed -->
    </div>
  </section>