<header class="header">
  <mat-toolbar style="background-color: rgb(10, 1, 51);">
    <h2 align="center" style="margin-top:5px; color: rgb(243, 243, 243);">Techies</h2>
  <mat-toolbar-row align="center" style="display:grid">
      <div class="example-button-row" style="color: aliceblue;" align="center"> 
          <button style="font-size: 20px;" mat-button >Blog</button>
          <button style="font-size: 20px;" mat-button >Shop</button>
          <button style="font-size: 20px;" mat-button >Tibs</button>
          <button style="font-size: 20px;" mat-button >Contact</button>
    </div>
  </mat-toolbar-row>
  </mat-toolbar>
</header>