<header class="header">
  <mat-toolbar style="background-color: rgb(29, 0, 158);">
    <div fxLayout="row" fxLayoutAlign="space-between center" >
      <div fxLayout="row"  >
        <h2 style="margin-top: 5px; color: rgb(243, 243, 243);">SunTechie</h2>
      </div>
      <div fxLayout="row" fxLayoutAlign="end center" style="color: aliceblue; gap: 20px;">
        <button style="font-size: 15px;" mat-button routerLink="/home">Home</button>
        <button style="font-size: 15px;" mat-button routerLink="/blog">Blog</button>
<!--         <button style="font-size: 15px;" mat-button>Shop</button>
        <button style="font-size: 15px;" mat-button>Tibs</button> -->
        <button style="font-size: 15px;" mat-button routerLink="/contact">Contact</button>
      </div>
    </div>
  </mat-toolbar>
</header>
