<div class="container" [@fadeIn] *ngIf="!isBlogContent">
  <div class="blog-1div title-center">
    <h1 class="heading-h">Techies Blog</h1>
  </div>
  <mat-card class="card" fxLayout="row wrap"
    style="flex-flow: wrap; display:flex;justify-content:center; box-shadow: none; ">
    <mat-card class="example-card" (click)="onSelect(blog.blogId,true)" *ngFor="let blog of blogPosts">
      <img mat-card-image style="max-height:200px; max-width: 350px;"
        src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <mat-card-title style="opacity: 0.8;">{{blog.blogTitle}}</mat-card-title>
      </mat-card-content>
    </mat-card>
  </mat-card>
  <mat-paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page">
  </mat-paginator>
</div>

<div class="container" [@fadeIn] *ngIf="isBlogContent" style="margin-top: 70px;">
  <button mat-button (click)="onSelect(0,false)">Back</button>
  <mat-card style="box-shadow: none;flex-flow: wrap; display:flex;justify-content:center;">
    <mat-card style="box-shadow: none; max-width: 800px; min-width: 300px; ">
      <h2 class="heading-h" style="margin: 25px;margin-bottom: 10px;margin-right:1px">{{blogTitle}}</h2>
      <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
        style="margin: 25px;max-height:400px; max-width: 800px; min-width: 200px; min-height:200px;border-radius: 3%;" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <div class="post-content">
          <p>{{blogContent}}</p>
        </div>
      </mat-card-content>
    </mat-card>
    <mat-card style="justify-content:center; box-shadow: none;">
      <h2 class="heading-h" style="margin: 25px;margin-bottom: 0px;  font-size: 1.25rem;">Recent Article</h2>
      <mat-card class="example-card"(click)="onSelect(blog.blogId,true)" *ngFor="let blog of blogPosts">
        <img mat-card-image style="max-height:150px; max-width: 400px;"
          src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <mat-card-title style="opacity: 0.8;">{{blog.blogTitle}}</mat-card-title>
        </mat-card-content>
      </mat-card>
    </mat-card>
  </mat-card>
</div>