@media screen and (max-width:600px){
  .container{
    justify-content: center;
    max-height: 100%;
  }
}
.blog-1div{
  min-height: 130px;
  background-repeat: no-repeat;
  background-size: 100%;
  margin-top: 10px;
  flex-direction: column; 
  background-image: url('/assets/images/blog.jpg');
}
.title-center{
  display: flex;
  align-items: center;
  justify-content: center;
}
.heading-h{
  letter-spacing: .01em;
  line-height: 160%;
  font-size: 1.75rem;
  font-weight: 500;
  opacity:0.8;
}
.example-card {
  max-width: 350px;
  border-radius: 3%;
  margin: 25px;
  display: flex-flow;
} 
.post-content{
  margin: 8px;
  margin-right:1px;
  line-height: 28px;
  text-align: justify;
  font-weight: 400;
}